_darcs/
sites/
dist*
playground/
upload/
static/tmp/
static/uploads/
.stack-work/
static/tmp/
static/combined/
config/client_session_key.aes
*.hi
*.o
*.sqlite3
.hsenv*
cabal-dev/
yesod-devel/
.cabal-sandbox
cabal.sandbox.config
.DS_Store
*.swp
scripts/package
scripts/package.tar.xz
tmp_client_codes.txt
